@basic: 10px;

.App {
    .button {
        text-align: center;
        margin-top: @basic * 2;

        input[type=button] + input[type=button] {
            margin-left: @basic * 1.5;
        }
    }

    .footer {
        position: fixed;
        width: 100%;
        bottom: 0%;
    }
}