@search-box-width: 580px;
@search-box-height: 44px;
@search-box-border: 1px solid #ccc;
@basic: 10px;
@basic-font-size: 10px;

.search-box {
    margin: 0 auto;
    margin-top: @basic * 4;
    width: @search-box-width;
    height: @search-box-height;
    border: @search-box-border;
    border-radius: @search-box-height * 0.5;
    position: relative;

    .icon {
        width: @basic * 2;
        height: @basic * 2;
        margin: (@search-box-height - @basic * 2) * 0.5;
    }

    input {
        width: @search-box-width - 7 * @basic;
        position: absolute;
        height: 80%;
        border: none;
        font-size: @basic-font-size * 2;
    }
}