@button-basic-color: #f2f2f2;
@button-radius: 4px;
@basic-font-size: 10px;
@basic: 10px;

input[type=button] {
    background-color: @button-basic-color;
    border: none;
    font-size: @basic-font-size * 1.6;
    padding: @basic * 1.2;
    border-radius: @button-radius;

    &:hover {
        cursor: pointer;
    }
}