@basic: 10px;
@basic-font-size: 10px;
@font-color: rgba(0,0,0,.54);
@footer-background-color: #f2f2f2;
@border: 1px solid #ddd;

.footer {
    color: @font-color;
    background-color: @footer-background-color;

    div + div {
        border-top: @border;
    }

    .location {
        font-size: @basic-font-size * 1.8;
        height: @basic * 4;
        line-height: @basic * 4;
    }

    .more {
        font-size: @basic-font-size * 1.2;
        height: @basic * 4;
        line-height: @basic * 4;

        li {
            display: inline;
            list-style: none;

            a {
                text-decoration: none;
                color: @font-color;

                &:hover {
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }

        li + li {
            margin-left: @basic * 2;
        }
    }

    & div > * {
        margin-left: @basic * 4;
    }
}