@basic: 10px;
@basic-font-size: 10px;

.lang-list {
    margin: 0 auto;
    margin-top: @basic * 4;

    ul {
        text-align: center;

        li {
            display: inline;
            list-style: none;

            a {
                text-decoration: none;
            }
        }

        li + li {
            margin-left: @basic;
        }
    }
}